doctype html
html
  head
    title= title
    block head
      link(href='http://fonts.googleapis.com/css?family=Lemon', rel='stylesheet', type='text/css')
      link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
      link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content