html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#app {
    width: 100%;
    height: 100%;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center; 
}

#content {
    height: 100%;
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
}

.thumbnails {
    padding: 20px;
}

#map {
    width: 100%;
    height: 100%;
}

.carousel-inner img {
    max-height: 100%;
    margin: auto;
} 

